<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
    <style>
        nav {
            position: sticky;
            top: 0px;
            display: flex;
            justify-content: center;
            background-color: #FF8200;
            color: white;
        }
        .formulario {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        button{
            margin: 8px;
        }
        input{
            margin: 10px;
        }
        .divProducto{
            border: 1px solid black;
            border-radius: 15px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <h1>Productos</h1>
        </nav>
    </header>
    {{{body}}}
</body>
</html>